In [1]:
#!/usr/bin/env python
import snowflake.connector

In [2]:
# Credentials for connecting to snowflake. Migrate to properties file in the future.
USER = 'heinzlimetree'
ACCOUNT = 'um21928.us-east-1'
WAREHOUSE = 'COMPUTE-WH'
DATABASE = 'INSTITUTIONS2'
SCHEMA = 'PUBLIC'
PASSWORD = 'Limetree123'

In [ ]:
#creating a connection to snowflake to interact with the api
con = snowflake.connector.connect(
  user=USER,
  password=PASSWORD,
  account=ACCOUNT,
  warehouse=WAREHOUSE,
  database=DATABASE,
  schema=SCHEMA
)

In [6]:
# Creating fdic locations table in snowflake
con.cursor().execute('''CREATE or REPLACE TABLE 
  fdic_locations
    ( ADDRESS varchar,
    BKCLASS varchar,
    CBSA varchar,
    CBSA_DIV varchar,
    CBSA_DIV_FLG NUMERIC,
    CBSA_DIV_NO NUMERIC,
    CBSA_METRO NUMERIC,
    CBSA_METRO_FLG NUMERIC,
    CBSA_METRO_NAME varchar,
    CBSA_MICRO_FLG NUMERIC,
    CBSA_NO NUMERIC,
    CERT NUMERIC,
    CITY varchar,
    COUNTY varchar,
    CSA varchar,
    CSA_FLG NUMERIC,
    CSA_NO NUMERIC,
    ESTYMD NUMERIC,
    FI_UNINUM NUMERIC,
    MAINOFF NUMERIC,
    NAME varchar,
    OFFNAME varchar,
    OFFNUM NUMERIC,
    RUNDATE DATE,
    SERVTYPE NUMERIC,
    STALP varchar,
    STCNTY NUMERIC,
    STNAME VARCHAR,
    UNINUM NUMERIC,
    ZIP NUMERIC)
    ''')

In [7]:
# Creating fdic institutions table in snowflake
con.cursor().execute('''CREATE or REPLACE TABLE 
  fdic_institution
    ( STNAME varchar,
    CERT NUMERIC,
    DOCKET NUMERIC,
    ACTIVE NUMERIC,
    ADDRESS varchar,
    ASSET varchar,
    BKCLASS varchar,
    CHANGEC1 NUMERIC,
    CHANGEC2 NUMERIC,
    CHANGEC3 NUMERIC,
    CHANGEC4 NUMERIC,
    CHANGEC5 NUMERIC,
    CHANGEC6 NUMERIC,
    CHANGEC7 NUMERIC,
    CHANGEC8 NUMERIC,
    CHANGEC9 NUMERIC,
    CHANGEC10 NUMERIC,
    CHANGEC11 NUMERIC,
    CHANGEC12 NUMERIC,
    CHANGEC13 NUMERIC,
    CHANGEC14 NUMERIC,
    CHANGEC15 NUMERIC,
    CHARTER NUMERIC,
    CHRTAGNT varchar,
    CONSERVE varchar,
    CITY varchar,
    CLCODE NUMERIC,
    CMSA_NO NUMERIC,
    CMSA NUMERIC,
    COUNTY varchar,
    DATEUPDT DATE,
    DENOVO varchar,
    DEP varchar,
    EFFDATE DATE,
    ENDEFYMD DATE,
    EQ varchar,
    ESTYMD DATE,
    FDICDBS NUMERIC,
    FDICREGN varchar,
    FDICSUPV varchar,
    FED NUMERIC,
    FED_RSSD NUMERIC,
    FEDCHRTR NUMERIC,
    FLDOFF varchar,
    IBA NUMERIC,
    INACTIVE NUMERIC,
    INSAGNT1 varchar,
    INSAGNT2 varchar,
    INSDATE DATE,
    INSTCRCD NUMERIC,
    INSBIF NUMERIC,
    INSCOML NUMERIC,
    INSDIF varchar,
    INSFDIC NUMERIC,
    INSSAIF varchar,
    INSSAVE NUMERIC,
    MSA_NO NUMERIC,
    MSA varchar,
    NAME varchar,
    NEWCERT NUMERIC,
    OAKAR NUMERIC,
    OTSDIST NUMERIC,
    OTSREGNM varchar,
    PROCDATE DATE,
    QBPRCOML NUMERIC,
    REGAGNT varchar,
    REPDTE varchar,
    RISDATE varchar,
    STCHRTR NUMERIC,
    ROA NUMERIC,
    ROAQ NUMERIC,
    ROE NUMERIC,
    ROEQ NUMERIC,
    RUNDATE DATE,
    SASSER NUMERIC,
    LAW_SASSER_FLG varchar,
    STALP varchar,
    STCNTY NUMERIC,
    STNUM NUMERIC,
    ZIP NUMERIC,
    SUPRV_FD NUMERIC,
    OCCDIST NUMERIC,
    UNINUM NUMERIC,
    ULTCERT NUMERIC,
    CFPBEFFDTE DATE,
    CFPBENDDTE DATE,
    CFPBFLAG NUMERIC,
    REGAGENT2 varchar,
    TE01N528 varchar,
    TE02N528 varchar,
    TE03N528 varchar,
    TE04N528 varchar,
    TE05N528 varchar,
    TE06N528 varchar,
    TE07N528 varchar,
    TE08N528 varchar,
    TE09N528 varchar,
    TE10N528 varchar,
    TE01N529 varchar,
    TE02N529 varchar,
    TE03N529 varchar,
    TE04N529 varchar,
    TE05N529 varchar,
    TE06N529 varchar,
    WEBADDR varchar,
    OFFICES varchar,
    CERTCONS varchar,
    PARCERT varchar,
    CITYHCR varchar,
    DEPDOM varchar,
    FORM31 varchar,
    HCTMULT varchar,
    INSTAG varchar,
    MUTUAL varchar,
    NAMEHCR varchar,
    NETINC varchar,
    NETINCQ varchar,
    OFFDOM varchar,
    OFFFOR varchar,
    OFFOA varchar,
    RSSDHCR varchar,
    STALPHCR varchar,
    STMULT varchar,
    SUBCHAPS varchar,
    ROAPTX varchar,
    ROAPTXQ varchar,
    TRUST varchar,
    SPECGRP varchar,
    SPECGRPN varchar,
    TRACT varchar,
    CSA varchar,
    CSA_NO NUMERIC,
    CSA_FLG NUMERIC)
    ''')