In [15]:
#!/usr/bin/env python
import snowflake.connector

In [16]:
# Credentials for connecting to snowflake. Migrate to properties file in the future.
USER = 'heinzlimetree'
ACCOUNT = 'um21928.us-east-1'
WAREHOUSE = 'COMPUTE-WH'
DATABASE = 'INSTITUTIONS2'
SCHEMA = 'PUBLIC'
PASSWORD = 'Limetree123'

In [17]:
#creating a connection to snowflake to interact with the api
con = snowflake.connector.connect(
  user=USER,
  password=PASSWORD,
  account=ACCOUNT,
  warehouse=WAREHOUSE,
  database=DATABASE,
  schema=SCHEMA
)

In [18]:
con.cursor().execute(''' CREATE or REPLACE TABLE 
    irs_incdata(
    adjgr_inc NUMERIC,
    sal_wagamt NUMERIC,
    pens_amt NUMERIC,
    amt_unemp NUMERIC,
    num_pen NUMERIC,
    num_unemp NUMERIC,
    tot_inc_amt NUMERIC,
    num_ret NUMERIC,
    numdep NUMERIC,
    state VARCHAR,
    year NUMERIC,
    agi_stub NUMERIC,
    zipcode NUMERIC(5),
    PRIMARY KEY(zipcode,year))''')

In [19]:
con.cursor().execute(''' CREATE or REPLACE TABLE 
    acs_race(
    year_from NUMERIC,
    year_to NUMERIC,
    zipcode NUMERIC(5),
    tot_estimate NUMERIC,
    white_estimate NUMERIC,
    afam_estimate NUMERIC,
    amerind_estimate NUMERIC,
    asian_estimate NUMERIC,
    haw_estimate NUMERIC,
    other_raceestimate NUMERIC,
    PRIMARY KEY(zipcode,year_from,year_to))''')

In [20]:
con.cursor().execute(''' CREATE or REPLACE TABLE 
    acs_economy(
    year_from NUMERIC,
    year_to NUMERIC,
    zipcode NUMERIC(5),
    emp_over16 NUMERIC,
    emp_inlabor NUMERIC,
    com_time NUMERIC,
    agr_forfish NUMERIC,
    construction NUMERIC,
    manu NUMERIC,
    wholesaletrd NUMERIC,
    retail_trade NUMERIC,
    transport_andutil NUMERIC,
    information NUMERIC,
    fin_ins NUMERIC,
    profsci_admin NUMERIC,
    ed_healthsa NUMERIC,
    artent_food NUMERIC,
    other_services NUMERIC,
    pub_admin NUMERIC,
    PRIMARY KEY(zipcode,year_from,year_to))''')

In [21]:
con.cursor().execute(''' CREATE or REPLACE TABLE
acs_housingchar(
    year_from NUMERIC,
    year_to NUMERIC,
    zipcode NUMERIC(5),
    total_housingunits NUMERIC,
    total_occhouseunits NUMERIC,
    total_vachouseunits NUMERIC,
    PRIMARY KEY(zipcode,year_from,year_to))''')

In [22]:
con.cursor().execute(''' CREATE or REPLACE TABLE
acs_agesex(
    year_from NUMERIC,
    year_to NUMERIC,
    zipcode NUMERIC(5),
    total_pop NUMERIC,
    tot_male NUMERIC,
    tot_fem NUMERIC,
    tot_18to24 NUMERIC,
    tot_above60 NUMERIC,
    tot_median NUMERIC,
    PRIMARY KEY(zipcode,year_from,year_to))''')

In [23]:
con.cursor().execute('''CREATE or REPLACE TABLE 
  acs_compinfo(
    year_from NUMERIC,
    year_to NUMERIC,
    zipcode	NUMERIC,
    tot_household NUMERIC,
    tot_onepluscomp NUMERIC,
    oneplus_desktop NUMERIC,
    oneplus_smartphone NUMERIC,
    oneplus_tablet NUMERIC,
    oneplus_othercomp NUMERIC,
    nocomp NUMERIC,
    with_internet NUMERIC,
    with_dialup NUMERIC,
    with_broadband NUMERIC,
    with_cell NUMERIC,
    with_cabfodsl NUMERIC,
    with_bb NUMERIC,
    total_nointernet NUMERIC,
    PRIMARY KEY(zipcode,year_from,year_to))''')